.main{
  text-align: center;
  width: 70%;
  margin: auto;
}

h4{
  font-weight: 600;
  font-size: 2rem;
  text-align: center;
}
.input{
  text-align: left;
  margin: 2rem;
}
label{
  font-size: 1.25rem;
  font-weight: 500;
}
input{
  border: 1px solid rgb(131, 109, 252);
  border-radius: 10px;
  font-size: 1.1rem;
  padding: 10px 40px;
  margin: 1rem 0;  
}
::-webkit-input-placeholder{
  color: rgb(179, 175, 175);
}
.arrow{
  font-size: 1.5rem;
  color: white;
  background-color: rgb(162, 0, 255);
  width:fit-content;
  padding: .7rem .9rem;
  border-radius: 100px;
  margin-left: auto;
  margin-top: 3rem;
}