.main{
  text-align: center;
  width: 60vw;
  margin: auto;
}
.border{
  border-radius: 20px;
  padding: 5px;
  border-color: rgb(111, 0, 255);
  /* margin: 2rem; */
  
  /* width: max-content; */
}
.otp{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1rem;
}
h4{
  font-weight: 600;
  font-size: 2rem;
  text-align: center;
}
.otptext{
   margin: 3rem;
}
.otptext span{
  color: blue;
}
.resend{
  margin:1rem 3rem;
}
.arrow{
  font-size: 1.5rem;
  color: white;
  background-color: rgb(162, 0, 255);
  width:fit-content;
  padding: .7rem .9rem;
  border-radius: 100px;
  margin-left: auto;
  margin-top: 3rem;
}